<div th:fragment="header">
   <div class="container">
        <header class="d-flex justify-content-center py-3">
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link active">Главная</a></li>
                <li class="nav-item"><a href="/blog" class="nav-link">Блог</a></li>
                <li class="nav-item"><a href="/blog/add" class="nav-link">Добавить статью</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">Про нас</a></li>
            </ul>
        </header>
    </div>
</div>