<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Блог сайта</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--    ссылка на стили от bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<!-- header -->
<header th:insert="blocks/header :: header"></header>


<!-- body -->
<div class="container mt-5">
    <h1>Блог сайта</h1>
    <!--    циклом th:each перебираем массив постов-->
    <div th:each="element : ${post}" class="alert alert-info mt-2">
        <h1 th:text="${element.title}"></h1>
        <p th:text="${element.full_text}"></p>
        <p><b>Просмотры:</b> <span th:text="${element.views}"/></p>
        <a th:href="'/blog/' + ${element.id} + '/edit'" class="btn btn-primary">Редактировать</a>
        <br><br>
        <form th:action="'/blog/' + ${element.id} + '/remove'" method="post">
            <button class="btn btn-primary" type="submit">Удалить</button>
        </form>

    </div>
</div>



<!-- footer -->
<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>